@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
}

img {
  width: 100%;
}

header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #eee;
  color: #51504f;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 2.5rem;
  border-bottom: 1px solid #ddd;
  display: inline-block;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.8rem;
  color: #51504f;
}

.photo1,
.photo2 {
  margin-bottom: 30px;
}

.photo1:hover {
  border: 5px solid #bfeef2;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.photo2:hover {
  border: 5px solid #ff4501;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.project-title-1 {
  border-left: 2px solid #bfeef2;
  border-right: 2px solid #bfeef2;
  display: inline-block;
  padding: 0 0.5rem;
}

.project-title-2 {
  border-left: 2px solid #ff4501;
  border-right: 2px solid #ff4501;
  display: inline-block;
  padding: 0 0.5rem;
  margin-top: 1rem;
}

.btn1,
.btn2 {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
}

.btn1:hover {
  border: 5px solid #bfeef2;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.1), -3px 0px 4px rgba(0, 0, 0, 0.1);
}

.btn2:hover {
  border: 5px solid #ff4501;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.1), -3px 0px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background-color: #eee;
  color: #51504f;
  padding-bottom: 30px;
}

.footer-header {
  display: inline-block;
  margin: 0;
  padding-top: 0.5rem;
  border-bottom: 1px solid #ddd;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
